<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetGestureBack</string>
				<key>jsApi</key>
				<string>setGestureBack</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Toast</string>
				<key>jsApi</key>
				<string>toast</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ShowLoading</string>
				<key>jsApi</key>
				<string>showLoading</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideLoading</string>
				<key>jsApi</key>
				<string>hideLoading</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ShowTitleBar</string>
				<key>jsApi</key>
				<string>showTitlebar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideTitleBar</string>
				<key>jsApi</key>
				<string>hideTitlebar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ShowOptionMenu</string>
				<key>jsApi</key>
				<string>showOptionMenu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideOptionMenu</string>
				<key>jsApi</key>
				<string>hideOptionMenu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ShowToolBar</string>
				<key>jsApi</key>
				<string>showToolbar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideToolBar</string>
				<key>jsApi</key>
				<string>hideToolbar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetTitle</string>
				<key>jsApi</key>
				<string>setTitle</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetOptionMenu</string>
				<key>jsApi</key>
				<string>setOptionMenu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PushWindow</string>
				<key>jsApi</key>
				<string>pushWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PopWindow</string>
				<key>jsApi</key>
				<string>popWindow</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CloseWebview</string>
				<key>jsApi</key>
				<string>closeWebview</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetNetworkType</string>
				<key>jsApi</key>
				<string>getNetworkType</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ExitSession</string>
				<key>jsApi</key>
				<string>exitSession</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SendSMS</string>
				<key>jsApi</key>
				<string>sendSMS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ShowAlert</string>
				<key>jsApi</key>
				<string>showAlert</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Alert</string>
				<key>jsApi</key>
				<string>alert</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Confirm</string>
				<key>jsApi</key>
				<string>confirm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetStatusBar</string>
				<key>jsApi</key>
				<string>setStatusbar</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetSessionData</string>
				<key>jsApi</key>
				<string>setSessionData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetSessionData</string>
				<key>jsApi</key>
				<string>getSessionData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CheckJSAPI</string>
				<key>jsApi</key>
				<string>checkJSAPI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4IsInstalledApp</string>
				<key>jsApi</key>
				<string>isInstalledApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4PopTo</string>
				<key>jsApi</key>
				<string>popTo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4OpenInBrowser</string>
				<key>jsApi</key>
				<string>openInBrowser</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Photo</string>
				<key>jsApi</key>
				<string>photo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HideBackButton</string>
				<key>jsApi</key>
				<string>hideBackButton</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetToolBarMenu</string>
				<key>jsApi</key>
				<string>setToolbarMenu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ActionSheet</string>
				<key>jsApi</key>
				<string>actionSheet</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4Vibrate</string>
				<key>jsApi</key>
				<string>vibrate</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4WatchShake</string>
				<key>jsApi</key>
				<string>watchShake</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4ClearAllCookie</string>
				<key>jsApi</key>
				<string>clearAllCookie</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetWifiInfo</string>
				<key>jsApi</key>
				<string>getWifiInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SetClipboard</string>
				<key>jsApi</key>
				<string>setClipboard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4GetClipboard</string>
				<key>jsApi</key>
				<string>getClipboard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4AddEventCal</string>
				<key>jsApi</key>
				<string>addEventCal</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4SaveImage</string>
				<key>jsApi</key>
				<string>saveImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4HTTPRequest</string>
				<key>jsApi</key>
				<string>httpRequest</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array/>
	</dict>
</dict>
</plist>
